@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
font-family: var(--font-headings);
color: white;
}

body {
font-family: var(--font-body);
background: #181F2F;
color: white;
line-height: var(--line-height-text);
font-size: var(--font-standard);
}

main {
padding: 0 var(--space-container);
}

section {
border-radius: var(--radius-section);
}

a {
    color: var(--interactive-red);
}
