
:root {
/* Font */
--font-body: 'Ubuntu', sans-serif;
--font-headings: 'Readex Pro', sans-serif;

/* Font-størrelser */
--font-standard: 20px;

/* Farver */
--color-body: #181F2F;
--secondary-blue: #202F4D;
--interactive-red: #F63758;

/* Afstande */
--space-container: 5rem;
--space-section: 5rem;

/* Standard line-height */
--line-height-text: 1.75;

/* Border radius */
/* Sektioner */
--radius-section: 20px;

/* Cards/knapper */
--radius-card: 10px;
--radius-button: 5px;

/* Swiper farve */
--swiper-theme-color: var(--interactive-red) !important; 


}

/* Afstande */
@media (max-width: 767px) {
  :root {
    --space-container: 2rem;
    --font-standard: 15px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  :root {
    --space-container: 3rem;
    --font-standard: 17px;

  }

  
}